/nbproject/private/
node_modules/
release/
build/
log4js/target/
log4js/node_modules/
log4js-servlet/target/
log4js-servlet/lib/
log4js-site/build/
/log4js-servlet/nbproject/private/
/log4js-servlet/nbproject/
/log4js/nbproject/private/
log4js/.cache/
log4js-servlet/out/
.idea/
.gradle/
