<?xml version="1.0"?>

<!--
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	*      http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
	*
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Log4js</display-name>
	<description>Log4js servlet to log JavaScript logging events on server side.</description>
	
	<servlet>
	    <servlet-name>Log4js Servlet</servlet-name>
	    <servlet-class>de.log4js.Log4jsServlet</servlet-class>

		<init-param>
			<description>
				Adapter which adapts the specific logging implementation like Java logging or Log4j.
				This adapter has to implement the interface de.berlios.log4js.adapter.Adapter.
				E.g.: de.berlios.log4js.adapter.JavaLoggingAdapter, 
				de.berlios.log4js.adapter.Log4jAdapter
			</description>
			<param-name>logging.adapter</param-name>
			<param-value>de.log4js.adapter.Log4jAdapter</param-value>
		</init-param>
				
		<init-param>
			<description>Parser implementation for XML data.</description>
			<param-name>parser.text/xml</param-name>
			<param-value>de.log4js.parser.XmlEventParser</param-value>
		</init-param>
	
		<init-param>
			<description>Parser implementation for JSON data.</description>
			<param-name>parser.text/json</param-name>
			<param-value>de.log4js.parser.JsonEventParser</param-value>
		</init-param>    
	</servlet>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	
	<servlet-mapping>
	    <servlet-name>Log4js Servlet</servlet-name>
	    <url-pattern>/log4js/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>Log4js Servlet</servlet-name>
	    <url-pattern>/log4js</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Log4js Servlet</servlet-name>
	    <url-pattern>*.log4js</url-pattern>
	</servlet-mapping>		
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
